@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700");

/* Icons */
.icon {
	text-decoration: none;
}

.icon:before {
	display: inline-block;
	font-family: FontAwesome;
	font-size: 1.25em;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon > .label {
	display: none;
}

.icon.featured {
	color: #4daeef;
	display: block;
	margin: 0 0 1.5em 0;
	cursor: default;
}

.icon.featured:before {
	font-size: 6em;
}

.work img {
	max-width: 100%;
}
